{% extends 'base.html' %} 
{% block title %}Gold Loan Policy - Jaglan Jewellers{% endblock title %}
{% block body %}

<main>
    <h1>Gold Loan Policy</h1><br><br>
    <h2>Our Gold Loan Policy</h2><br>
    <p>
        At Jaglan Jewellers, we offer gold loan services to provide you with financial assistance using your valuable jewelry as collateral.
        Please review our gold loan policy below to understand the terms and conditions of this service.
    </p><br><br>

    <h3>Loan Eligibility</h3><br>
    <p>
        To be eligible for a gold loan, you must meet the following criteria:
    </p><br>
    <ul>
        <li>Provide valid identification and proof of ownership of the gold jewelry.</li>
        <li>The jewelry must meet our quality and purity standards.</li>
        <li>You must be of legal age and meet any other local requirements.</li>
    </ul><br><br>

    <h3>Loan Application Process</h3><br>
    <p>
        Applying for a gold loan is easy and straightforward:
    </p><br>
    <ol>
        <li>Visit our nearest branch and bring the jewelry you want to use as collateral.</li>
        <li>Our expert appraisers will evaluate the jewelry's value and determine the loan amount.</li>
        <li>Complete the necessary documentation and provide identification.</li>
        <li>Upon approval, you will receive the loan amount, and your jewelry will be securely stored.</li>
    </ol><br><br>

    <h3>Loan Repayment</h3><br>
    <p>
        Gold loan repayment terms are flexible and designed to suit your financial needs:
    </p><br>
    <ul>
        <li>Repay the loan amount and interest within the agreed-upon period.</li>
        <li>Failure to repay within the specified time may result in forfeiture of the jewelry.</li>
        <li>You can also choose to repay the loan in installments.</li>
    </ul><br><br>

    <h3>Contact Us</h3><br>
    <p>If you have any questions or need more information about our gold loan policy, please don't hesitate to <a href="/contact">contact us</a>.</p><br><br>
</main>

{% endblock body %}
