{% extends 'base.html' %} 
{% block title %}Insurance Policy - Jaglan Jewellers{% endblock title %}
{% block body %}

<main>
    <h1>Insurance Policy</h1><br><br>
    <h2>Our Jewelry Insurance Policy</h2><br>
    <p>
        At Jaglan Jewellers, we understand the value and sentimental importance of your jewelry.
        Our jewelry insurance policy is designed to provide you with peace of mind, knowing that your precious pieces are protected against unexpected events.
    </p><br><br>

    <h3>Insurance Coverage</h3><br>
    <p>
        Our jewelry insurance covers a range of incidents, including theft, loss, damage, and accidental breakage.
        The coverage extends to both in-home and while-traveling scenarios, ensuring your jewelry is protected wherever you go.
    </p><br><br>

    <h3>Policy Details</h3><br>
    <ul>
        <li>Coverage Limit: Your insurance coverage is subject to the declared value of your insured jewelry.</li>
        <li>Proof of Ownership: Proper documentation, including purchase receipts and appraisals, is required to initiate a claim.</li>
        <li>Claim Process: In the unfortunate event of loss or damage, please contact our claims department at <a href="mailto:claims@jaglanjewellers.com">claims@jaglanjewellers.com</a>.
            Our team will guide you through the claims process and assist you in every step.
        </li>
        <li>Policy Premium: Insurance premiums are based on the total value of your insured jewelry and are payable annually.</li>
    </ul><br><br>

    <h3>Renewal and Updates</h3><br>
    <p>
        Your jewelry insurance policy will need to be renewed annually to ensure continuous coverage.
        If you make any significant changes to your jewelry collection, please contact our insurance department to update your policy accordingly.
    </p><br><br>

    <h3>Contact Us</h3><br>
    <p>If you have any questions or concerns about our jewelry insurance policy, please don't hesitate to <a href="/contact">contact us</a>.</p><br><br>
</main>

{% endblock body %}
