{% extends 'base.html' %}
{% block title %}Privacy Policy - Jaglan Jewellers{% endblock title %}
{% block body %}

<main>
    <h1>Privacy Policy</h1><br><br>
    <h2>Introduction</h2><br>
    <p>
        Welcome to Jaglan Jewellers' Privacy Policy. Your privacy is important to us, and we are committed to protecting your personal information.
        This policy explains how we collect, use, and safeguard your information when you interact with our website and services.
    </p><br><br>

    <h2>Information We Collect</h2><br>
    <p>
        We collect various types of information when you use our website and services, including but not limited to:
    </p><br>
    <ul>
        <li>Personal information (such as name, email address, and contact details) when you create an account or make a purchase.</li>
        <li>Technical information (such as IP address, browser type, and device information) for analytics and security purposes.</li>
        <li>Cookies and similar technologies to enhance your browsing experience and personalize content.</li>
    </ul><br><br>

    <h2>How We Use Your Information</h2><br>
    <p>
        We use your information for various purposes, including:
    </p><br>
    <ul>
        <li>Providing and improving our services, including order processing and customer support.</li>
        <li>Communicating with you about your orders, promotions, and updates.</li>
        <li>Analyzing website usage and trends to enhance user experience and optimize our website.</li>
    </ul><br><br>

    <h2>Sharing Your Information</h2><br>
    <p>
        We do not sell, trade, or rent your personal information to third parties. However, we may share your information with trusted service providers to facilitate our operations.
    </p><br><br>

    <h2>Your Choices</h2><br>
    <p>
        You can manage your preferences for communication and cookies by adjusting your account settings or browser preferences.
    </p><br><br>

    <h2>Security</h2><br>
    <p>
        We implement security measures to protect your information from unauthorized access and ensure data integrity.
        However, no method of transmission over the internet or electronic storage is 100% secure.
    </p><br><br>

    <h2>Contact Us</h2><br>
    <p>If you have any questions or concerns about our privacy policy, please don't hesitate to <a href="/contact">contact us</a>.</p><br><br>
</main>

{% endblock body %}
