{% extends 'base.html' %} 
{% block title %}Selling Jewelry Policy - Jaglan Jewellers{% endblock title %}
{% block body %}

<main>
    <h1>Selling Jewelry Policy</h1><br><br>
    <h2>Our Process for Selling Your Jewelry</h2><br>
    <p>
        At Jaglan Jewellers, we offer you the opportunity to sell your old jewelry and receive a fair value for it.
        Our process is designed to make selling your jewelry easy and hassle-free.
    </p><br><br>

    <h3>Assessment and Valuation</h3><br>
    <p>
        When you bring in your jewelry for selling, our experienced experts will assess its quality and value.
        We consider factors such as metal purity, gemstone quality, craftsmanship, and market trends.
    </p><br><br>

    <h3>Transparent Pricing</h3><br>
    <p>
        Our valuation process is transparent, and we'll provide you with a clear explanation of how we arrived at the offer.
        You can trust that you'll receive a competitive price based on the current market conditions.
    </p><br><br>

    <h3>Offer Acceptance</h3><br>
    <p>
        Once we present you with our offer, you have the choice to accept or decline it.
        If you choose to accept, we'll guide you through the necessary paperwork and documentation.
    </p><br><br>

    <h3>Payment Process</h3><br>
    <p>
        Upon completing the required paperwork, we'll process your payment using the agreed-upon method.
        You can expect prompt payment, ensuring a seamless selling experience.
    </p><br><br>

    <h3>Contact Us</h3><br>
    <p>
        If you're interested in selling your jewelry or have any questions about our selling process,
        please reach out to our dedicated customer support team at
        <a href="mailto:customersupport@jaglanjewellers.com">customersupport@jaglanjewellers.com</a>.
    </p><br><br>
</main>

{% endblock body %}
