{% extends 'base.html' %} 
{% block title %}Terms and Conditions - Jaglan Jewellers{% endblock title %}
{% block body %}

<main>
    <h1>Terms and Conditions</h1><br><br>
    
    <h2>1. Acceptance of Terms</h2><br>
    <p>
        By accessing or using the Jaglan Jewellers website ("Site"), you agree to be bound by these Terms and Conditions.
    </p><br><br>
    
    <h2>2. Privacy Policy</h2><br>
    <p>
        Your use of the Site is also governed by our <a href="/privacypolicy">Privacy Policy</a>, which outlines how we collect, use, and protect your information.
    </p><br><br>
    
    <h2>3. Intellectual Property</h2><br>
    <p>
        All content on this Site, including but not limited to text, graphics, images, logos, and software, is the property of Jaglan Jewellers and protected by applicable intellectual property laws.
    </p><br><br>
    
    <h2>4. Product Information</h2><br>
    <p>
        We strive to provide accurate and up-to-date product information on our Site. However, we do not guarantee the accuracy, completeness, or reliability of this information.
    </p><br><br>
    
    <h2>5. Payment and Transactions</h2><br>
    <p>
        All payments and transactions conducted on the Site are subject to our <a href="/payment-terms">Payment Terms</a>.
    </p><br><br>
    
    <h2>6. Shipping and Delivery</h2><br>
    <p>
        Our <a href="/shipping-policy">Shipping Policy</a> outlines the terms and conditions related to shipping and delivery of purchased items.
    </p><br><br>
    
    <h2>7. Limitation of Liability</h2><br>
    <p>
        Jaglan Jewellers shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from your use of the Site or products purchased from us.
    </p><br><br>
    
    <h2>8. Modifications to Terms</h2><br>
    <p>
        We reserve the right to modify or update these Terms and Conditions at any time. It is your responsibility to review them periodically for changes.
    </p><br><br>
    
    <h2>9. Contact Us</h2><br>
    <p>
        If you have any questions about these Terms and Conditions, please <a href="/contact">contact us</a>.
    </p><br><br>
</main>

{% endblock body %}